<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>판매 점수 집계 안내판</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/board.css" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <img src="images/header.png" alt="" width="100%" />
      </div>

      <div class="bar">
        <img src="images/listbar_black.png" alt="" />
        <div class="barText menu white">
          <span class="rank">순위</span>
          <span class="bj">BJ</span>
          <span class="contribute">판매실적</span>
        </div>
      </div>
      <div class="body"></div>
      <div class="footer">
        <img src="images/footer.png" alt="" width="100%" />
        <div class="barText footer">
          <span>판매실적 총합</span>
          <div class="total"><span id="totalCount">0</span><span>개</span></div>
        </div>
      </div>
    </div>
  </body>
  <script src="javascripts/board.js"></script>
</html>
