<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구매 알림 오버레이</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/notification.css" />
  </head>
  <body>
    <audio src="sounds/first.mp3" id="notiSound" preload="metadata">
      오디오 지원되지 않는 브라우저
    </audio>
    <audio
      src="http://nstream.kr:1322/테스트/1.5/ko-KR-Standard-A"
      id="notiTextToSpeach"
      preload="metadata"
    >
      오디오 지원되지 않는 브라우저
    </audio>
  </body>

  <script src="javascripts/notification.js"></script>
</html>
