<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link rel="stylesheet" href="css/notification.css" />
  </head>
  <body>
    <div class="main">
      <div class="notiCard">
        <img src="images/handsup.png" alt="" />
        <div class="text">
          <p><span id="nickname">칠성사이다</span> 님</p>
          <p><span id="count">123</span> 개 구매 감사합니다</p>
        </div>
      </div>
    </div>
  </body>
  <script src="javascripts/notification.js"></script>
</html>
