body {
  margin-left: 100px;
  margin-top: 75px;
}

img {
  display: block;
}

#main {
  width: 400px;
  position: absolute;
  bottom: 0;
}

.bar {
  background-image: url('../images/barBack.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 700;
  height: 30px;
  padding-left: 13px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
}

.bar img {
  margin: 5px auto;
  height: 25px;
  width: 100%;
}

.bar .barText {
  padding-left: 18px;
  position: relative;
  bottom: 31px;
  line-height: 30px;
}

.bar .barText.menu {
  display: flex;
  bottom: 32px;
  padding: 0;
  text-align: center;
}

.white {
  color: white;
}

.bar .barText.menu span {
  flex-basis: 0;
}

.bar .barText .rank {
  flex-grow: 0.5;
}

.bar .barText .bj {
  flex-grow: 1.4;
}

.bar .barText .score {
  flex-grow: 1;
}

.bar .barText .contribute {
  flex-grow: 1;
}

.footer .barText.footer {
  position: relative;
  display: flex;
  bottom: 85px;
  padding-left: 13px;
  padding-right: 25px;
  height: 85px;
  justify-content: space-between;
  align-items: center;
}

.footer .barText.footer span {
  font-size: 25px;
  font-weight: 700;
}

.footer .barText.footer .total {
  border: 3px solid black;
  height: 35px;
  line-height: 35px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  min-width: 100px;
}
