body {
  margin-left: 100px;
  margin-right: 0px;
  margin-top: 75px;
  margin-bottom: 0px;

  background-color: transparent;
  padding: auto;
  display: inline;
}

img {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  filter: none;
  border: 0;
  border-radius: 0;
}

#main {
  width: 400px;
  height: auto;
  position: absolute;
  /* top:0; */
  bottom: 0;
  left: 0;
  /* right: 0; */
  margin: auto;
  padding: auto;
  display: inline;

  background-color: transparent;
}

.bar {
  background-image: url('../images/barBack.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 700;
  height: 30px;
  padding-left: 13px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
}

.bar img {
  margin: 5px auto;
  height: 25px;
  width: 100%;
  display: block;
  padding: 0;
  filter: none;
  border: 0;
  border-radius: 0;
}

.bar .barText {
  padding: 0 0 0 18px;
  position: relative;
  display: block;

  bottom: 31px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  color: white;
}

.bar .barText.menu {
  display: flex;
  bottom: 32px;
  padding: 0;
  text-align: center;
}

.bar .barText.menu span {
  flex-basis: 0;
}

.bar .barText .rank {
  flex-grow: 0.5;
}

.bar .barText .bj {
  flex-grow: 1.4;
}

.bar .barText .score {
  flex-grow: 1;
}

.bar .barText .contribute {
  flex-grow: 1;
}

.footer {
  height: auto;
  width: auto;
  display: block;
}

.footer .barText.footer {
  position: relative;
  display: flex;
  bottom: 85px;
  padding-left: 13px;
  padding-right: 25px;
  height: 85px;
  justify-content: space-between;
  align-items: center;
}

.footer .barText.footer span {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 35px;
  color: black;
}

.footer .barText.footer .total {
  border: 3px solid black;
  height: 35px;
  line-height: 35px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin: 0;
  min-width: 100px;
}
